body {
  -webkit-font-smoothing: antialiased;
}

.drop-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.ui.header .sub.header {
  margin-top: 8px;
}

.large.top.margin {
  margin-top: 48px;
}
